@charset "utf-8";
/* CSS Document */

        .tabla_estadistica_mundial_fase1_dropdown {
            background: #f1f1f1 ;
            -moz-box-shadow: inset 0px 0px 25px #e1e1e1;
            -webkit-box-shadow: inset 0px 0px 25px #e1e1e1;
            box-shadow: inset 0px 0px 25px #e1e1e1;

            color: #8D8D8D;
            font-style: italic;
            font-weight: bold;
            background: #e1e1e1;
            background: -moz-linear-gradient(top, #e1e1e1 0%, #f1f1f1 50%, #f1f1f1 52%, #f1f1f1 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(52%,#f1f1f1), color-stop(100%,#f1f1f1));
            background: -webkit-linear-gradient(top, #e1e1e1 0%,#f1f1f1 50%,#f1f1f1 52%,#f1f1f1 100%);
            background: -o-linear-gradient(top, #e1e1e1 0%,#f1f1f1 50%,#f1f1f1 52%,#f1f1f1 100%);
            background: -ms-linear-gradient(top, #e1e1e1 0%,#f1f1f1 50%,#f1f1f1 52%,#f1f1f1 100%);
            background: linear-gradient(to bottom, #e1e1e1 0%,#f1f1f1 50%,#f1f1f1 52%,#f1f1f1 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#e1e1e1',GradientType=0 );
        }
       .tabla_estadistica_mundial_fase1 #tableDraftOperation tr td:nth-child(1) {
            color: #00a9e0;
        }
        .azul {
             color: #8D8D8D;
        }
        .tabla_estadistica_mundial_fase1 #tableDraftOperation tr td:nth-child(2), .tabla_estadistica_mundial_fase1 #tableDraftOperation tr td:nth-child(3), .tabla_estadistica_mundial_fase1 #tableDraftOperation tr td:nth-child(5), .tabla_estadistica_mundial_fase1 #tableDraftOperation tr td:nth-child(4) , .tabla_estadistica_mundial_fase1 #tableDraftOperation tr td:nth-child(6) , .tabla_estadistica_mundial_fase1 #tableDraftOperation tr td:nth-child(7) , .tabla_estadistica_mundial_fase1 #tableDraftOperation tr td:nth-child(8)  {
            color: black;
        }

        .tabla_estadistica_mundial_fase1 #tableDraftOperation td.sel {
            background: #f1f1f1 !important;
            -moz-box-shadow: inset 0px 0px 25px #C1C1C1;
            -webkit-box-shadow: inset 0px 0px 25px #C1C1C1;
            box-shadow: inset 0px 0px 25px #C1C1C1;
       
        }
        

